<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eventb.ui.wizards"
            class="ch.ethz.eventb.internal.pattern.wizards.EventBPatternWizard"
            finalPerspective="org.eventb.ui.perspective.eventb"
            hasPages="true"
            icon="icons/sample.gif"
            id="ch.ethz.eventb.pattern.wizards.EventBPatternWizard"
            name="Event-B Pattern">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="pat"
            id="patternFile"
            name="Event-B Pattern File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.rodinp.core.fileAssociations">
      <fileAssociation
            content-type-id="ch.ethz.eventb.pattern.patternFile"
            root-element-type="ch.ethz.eventb.pattern.patternRoot">
      </fileAssociation>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.PatternRoot"
            id="patternRoot"
            name="Event-B Pattern Root">
      </internalElementType>
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.VariableMatching"
            id="variableMatching"
            name="Pattern Variable Matching">
      </internalElementType>
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.EventMatching"
            id="eventMatching"
            name="Pattern Event Matching">
      </internalElementType>
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.CarrierSetMatching"
            id="carrierSetMatching"
            name="Pattern CarrierSet Matching">
      </internalElementType>
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.ConstantMatching"
            id="constantMatching"
            name="Pattern Constant Matching">
      </internalElementType>
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.ParameterMatching"
            id="parameterMatching"
            name="Pattern Parameter Matching">
      </internalElementType>
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.GuardMatching"
            id="guardMatching"
            name="Pattern Guard Matching">
      </internalElementType>
      <internalElementType
            class="ch.ethz.eventb.pattern.core.basis.ActionMatching"
            id="actionMatching"
            name="Pattern Action Matching">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="patternElement"
            kind="string"
            name="Pattern Element">
      </attributeType>
      <attributeType
            id="problemElement"
            kind="string"
            name="Problem Element">
      </attributeType>
      <attributeType
            id="patternProject"
            kind="string"
            name="Pattern Project">
      </attributeType>
      <attributeType
            id="problemProject"
            kind="string"
            name="Problem Project">
      </attributeType>
   </extension>
   <extension
         point="org.eventb.core.configurations">
      <configuration
            id="mchGen"
            name="Generated Machine">
         <config
               id="org.eventb.core.mchBase">
         </config>
         <config
               id="org.eventb.core.mchPOG">
         </config>
      </configuration>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="ch.ethz.eventb.pattern.patternRoot">
         <childType
               typeId="ch.ethz.eventb.pattern.variableMatching">
         </childType>
         <childType
               typeId="ch.ethz.eventb.pattern.eventMatching">
         </childType>
         <childType
               typeId="ch.ethz.eventb.pattern.carrierSetMatching">
         </childType>
         <childType
               typeId="ch.ethz.eventb.pattern.constantMatching">
         </childType>
      </relationship>
   </extension>

</plugin>
